.movableitem {
    position: relative;
    height: 42px;
    background: #FFF;
    color: rgba(0, 0, 0, 0.65);
    line-height: 40px;
    text-align: center;
    cursor: move;
    transition: width .3s;
    float: left;
    margin-left: 2px;
    margin-top: 2px;
    box-sizing: border-box;
    border: 1px dashed gray;
    border-radius: 4px;
    padding: 0 4px 0px;
    .mask {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        z-index: 1;
    }
    .close-btn {
        position: absolute;
        width: 16px;
        height: 16px;
        line-height: 16px;
        border-radius: 8px;
        top: -8px;
        right: -8px;
        background-color: #F53C32;
        color: #FFF;
        cursor: pointer;
        z-index: 2;
    }
}
.movableitem.opacity {
    opacity: .3;
}
.movableitem.focus, .movableitem.ishovered {
    box-shadow: 0 0 5px #FFC125;
    background: #C1FFC1;
}
.movableitem.candrop {
    background: #FFC125;
}