.sourcecard {
    height: 150px;
    background: lightgreen;
    border: 1px solid black;
    line-height: 150px;
    text-align: center;
    cursor: move;
    transition: all 1s;
}
.sourcecard.opacity {
    opacity: .3;
}